*{
    box-sizing: border-box;
}

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0px auto;
    text-align: center;
    clear: both
}

#header{
    background: #ebebeb;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#nav{
    background: #ebebeb;
    padding: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#section{
    background: #ebebeb;
    padding: 20px;
    margin-top: 10px;
    margin-right: 10px;
    width: 495px;
    float: left;
}

#article{
    color: #ebebeb;
    background: #777;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    width: 460px;
    float: left;
  
}

#h1h2h3{
    color: #777;
    background: #ebebeb;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
    
}

#p{
    color: #777;
    background: #ebebeb;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
}

p{
    margin: 0px;
    padding: 0px;
}

#aside{
    background: #ebebeb;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    width: 445px;
    height: 295px;
}

#footer{
    background: #ebebeb;
    margin-top: 30px;
    height: 81px;

}